.video-container {
  position: relative;
}

video {
  height: 100vh;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.home-learn-more-btn {
  position: absolute; /* set button to an absolute position */
  top: 85%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  z-index: 2;
  background-color: #e6e88a;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

.home-learn-more-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -1px;
  right: 0;
  left: 0;
  background-color: #618d59;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 500px;
  transition: width 300ms ease-out;
}

.home-learn-more-btn:hover::before {
  width: 100%;
}

.home-learn-more-btn:hover {
  background-color: #e6e88a;
  /* background-color: #eff0a6; */
}

.half {
  border-radius: 10px;
  width: 40%;
  height: 500px;
  object-fit: cover;
  object-position: right;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 60px;
}
