.video-container {
  position: relative;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: fill;
}

.home-learn-more-btn {
  position: absolute; /* set button to an absolute position */
  top: 90%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  z-index: 2;
  background-color: #e6e88a;
}

.home-learn-more-btn:hover {
  background-color: #eff0a6;
}

.half {
  border-radius: 10px;
  width: 40%;
  height: 500px;
  object-fit: cover;
  object-position: right;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 15px;
}
