.big-text {
  font-size: 60px;
  margin-bottom: 15px;
}

.regular-text {
  font-size: 30px;
}

.text-container {
  background-color: #53754d;
  padding: 15px;
  height: 100%;
  align-items: center;
  display: flex;
  height: 500px;
  width: 60%;
}

.text {
  color: #e6e88a;
}
