.nav {
  top: 0;
  background-color: #c6eebf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 30px;
}

.nav-home {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #c6eebf7a;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header-child {
  font-weight: 800;
  color: #618d59;
  text-decoration: none;
  font-size: 25px;
}

.logo {
  font-size: 50px;
}

button {
  font-family: inherit;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 25px;
  border-radius: 10px;
  border-style: none;
  background-color: #aedea6;
  color: #2f3019;
}

button:hover {
  cursor: pointer;
  background-color: #9ecc96;
}
