.nav {
  background-color: #c6eebf;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 400ms linear;
}

.nav-home {
  background-color: #c6eebf00;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0;
}

.header-child {
  font-weight: 800;
  color: #618d59;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: -2px;
}

.logo {
  font-size: 40px;
}

button {
  font-family: inherit;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #afdea600;
  color: #2f3019;
  transition: 400ms;
}

button:hover {
  cursor: pointer;
  background-color: #a1d298;
}

.burger {
  background-color: #c6eebf;
}

.logo-img {
  height: 30px;
  width: 30px;
}

.menu-svg {
  fill: #618d59;
  cursor: pointer;
  transition: 400ms;
}

.menu-svg:hover {
  fill: #a1d298;
}

.close-svg {
  fill: #618d59;
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
  transition: 400ms;
}

.close-svg:hover {
  fill: #a1d298;
}

@media only screen and (max-width: 800px) {
  .nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}
