.side-bar {
  transform: translateX(200%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: #c6eebf;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: 600ms;
  justify-content: right;
  gap: 10px;
}

.side-bar li {
  list-style-type: none;
}

.side-bar-active {
  transform: translateX(0);
}

.side-bar button {
  text-align: left;
  width: 100%;
}
