.page-content {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 60px;
  width: 1000px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .page-content {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .page-content {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .page-content {
    width: 100%;
  }
}
