.video-container {
  background-color: #618d59;
  position: relative;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: none;
}

.home-learn-more-btn {
  position: absolute; /* set button to an absolute position */
  top: 90%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  z-index: 2;
  background-color: #e6e88a;
  color: #618d59;
}

.home-learn-more-btn:hover {
  background-color: #eff0a6;
}

.big-text {
  font-size: 60px;
}

.regular-text {
  font-size: 30px;
}

.text-container {
  background-color: #53754d;
  padding: 15px;
}

.text {
  color: #e6e88a;
}

.half {
  border-radius: 30px;
}

.half-left {
  padding-right: 7.5px;
  width: 50%;
  display: inline-block;
}

.half-rigth {
  padding-left: 7.5px;
  width: 50%;
  display: inline-block;
}
