.slide-img {
  width: 880px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 60px;
  overflow: hidden;
}

.slide-container {
  position: relative;
}

.slide-head {
  position: absolute;
  color: white;
  margin: 25px;
  font-size: 75px;
}

.slide-arrow {
  position: absolute;
  z-index: 100;
  fill: white;
  top: 50%;
  cursor: pointer;
  transition: 400ms;
  transform: translate(0, -50%);
}

.arrow-right {
  right: 20px;
}

.arrow-left {
  left: 20px;
}

/* .slide-arrow:hover {
  fill: rgb(223, 223, 223);
} */

.arrow-right:hover {
  transform: translate(-10%, -50%);
}

.arrow-left:hover {
  transform: translate(10%, -50%);
}

.slide-img-container {
  position: relative;
  display: flex;
  transform: translateX(0);
  transition: 800ms;
}

.slider-btn-container {
  position: absolute;
  bottom: 25px;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 40px;
  gap: 10px;
}

.slider-btn {
  border-radius: 10px;
}

.circle {
  background-color: rgb(189, 189, 189);
  fill: rgb(189, 189, 189);
  border-radius: 24px;
  transition: 400ms;
  cursor: pointer;
}

.circle:hover {
  background-color: rgb(236, 236, 236);
  fill: rgb(236, 236, 236);
}

.circle-selected {
  background-color: white;
  fill: white;
}

.slider-content {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 75px;
  width: 800px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.arrow-show {
  fill: transparent;
}

.arrow-show:hover {
  fill: transparent;
}
