.nav {
  top: 0;
  background-color: #e6e88a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 30px;
}

.nav-home {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #e6e88a7a;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header-child {
  color: #618d59;
  text-decoration: none;
  font-size: 25px;
}

.logo {
  font-size: 50px;
}

button {
  font-family: inherit;
  padding: 15px;
  font-size: 25px;
  border-radius: 25px;
  border-style: none;
  background-color: #618d59;
  color: #e6e88a;
}

button:hover {
  cursor: pointer;
  background-color: #709f68;
}
